body{
    background-color: yellow;
    font-family: Arial, Helvetica, sans-serif;
}


.text, img {display: inline-block;}

.text {
    vertical-align: top;
    font-weight: 900;
    font-size: 30px;
    width: 250px;
    text-align: center;
}

.bg{ 
    background-color: white;
    display: inline;
    font-size: 12px;
}

input{
    height: 25px;
}

.inp {
    width: 100%;
}

.inp2 {
    width: 30px;
}

.inp3 {
    width: 140px;
}